<p id="notice"><%= notice %></p>

<p>
  <b>Goal:</b>
  <%= @milestone.goal_id %>
</p>

<p>
  <b>Completion date:</b>
  <%= @milestone.completion_date %>
</p>

<p>
  <b>Description:</b>
  <%= @milestone.description %>
</p>


<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
