<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <%=hidden_field_tag :goal, @preset_goal%>

<div id = "user_info">
  <p>
    <%= f.label :first_name, :class => "field_label" %>
    <%= f.text_field :first_name, :class => "field" %>
  </p>
  <p>
    <%= f.label :last_name, :class => "field_label" %>
    <%= f.text_field :last_name, :class => "field" %>
  </p>
  <p>
    <%= f.label :email, :class => "field_label" %>
    <%= f.text_field :email, :class => "field" %>
  </p>
  <p>
    <%= f.label :password, :class => "field_label" %>
    <%= f.password_field :password, :class => "field" %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
