<h1>Hi <%= @user.first_name %> !
 
<h2>Current Goal: <%= @current_goal.name %> by <%= @current_goal.completion_date %></h2>

<h3>Your Milestones:</h3><%= link_to 'Create a Milestone', new_milestone_path(:goal_id => @current_goal.id) %>
<h4>Milestone 1: <%= @milestone_1.description %> </h4>
<h5>Step 1:</h5>
<h4>Milestone 2: <%= @milestone_2.description %> </h4>
<h5>Step 1:</h5>
<h4>Milestone 3: <%= @milestone_3.description %> </h4>
<h5>Step 1:</h5>
<h5>Step 2:</h5>
<h5>Step 3:</h5>

