<h1>Hi <%= @user.first_name %> !
 
<h2>Current Goal: <%= @current_goal.name %> by <%= @current_goal.completion_date %></h2>

<div id = "todays_comments">
 <ul>
  <% @comments.each do |comment| %>
    <li><%=comment.content%></li>
  <%end%>
 </ul>
</div>

<div id = "others_comments">
  <ul>
    <% @related_comments.each do |comment| %>
      <li><%=comment.content%></li>
    <%end%>
  </ul>
</div>

<h3>Your Milestones:</h3>
<% if @milestone_1 and @milestone_2 and @milestone_3 %>
<%= link_to 'Manage Your Milestones', edit_goal_path(:id => @current_goal.id) %>
<%end%>

<div id = "your_milestones">
<ol>
<% @current_goal.milestones.each do |milestone| %>
  <li>
    <% unless milestone.completed %>
      <%= form_for(milestone) do |f| %>
      <%= f.hidden_field :completed, :value => true %>
      <%= f.submit "Milestone Completed!", :notice => "Are you sure?" %>
      <% end %>
    <% end %>
    Milestone  -  <%= milestone.description %>
    <% unless milestone.completed %>
      <%= form_for(@comment) do |f| %>
        <% @comment.milestone = milestone %>
        <%= f.hidden_field :milestone_id %>
        <%= f.label :Your_Comment %>
        <%= f.text_field :content %>
        <%= f.submit :Submit %>
      <%end%>
    <%end%>
  </li>
<%end%>
</ol>
</div>




<%
#embedded ruby with "=" produces some type of string, either html or the string itself, the ones without = are    #for when we do not want to display the value (if statements, loops, etc.).
%>

