<h1>Hi <%= @user.first_name %> !
 
<h2>Current Goal: <%= @current_goal.name %> by <%= @current_goal.completion_date %></h2>

<h3>Your Milestones:</h3>
<h4>Milestone 1: <%='Create a Milestone', new_milestone_path %></h4>
<h5>Step 1:</h5>
<h4>Milestone 2: <%= link_to 'Create a Milestone', new_milestone_path %></h4>
<h5>Step 1:</h5>
<h4>Milestone 3: <%= link_to 'Create a Milestone', new_milestone_path %></h4>
<h5>Step 1:</h5>
<h5>Step 2:</h5>
<h5>Step 3:</h5>