<div id = "select_a_goal">
<p>I want to:</p>
<%=form_tag "users/new", :method => :get do %> 
 <%=select_tag "preset_goals", @preset_goals.map{|g|"<option>#{g}</option>"}.join.html_safe, :class => "drop_down"%>
<%= submit_tag "Go!", :class => "Go"%>
<%end%>
</div>

<div id = "sign_in">
<h3>Already have an account?</h3>
<%=form_tag "sessions/create", :method => :post do %>
  <label>Email:</label><%=text_field_tag "email" %>
  <label>Password:</label><%=password_field_tag "password" %>
<%= submit_tag "Sign In"%>
<%end%>
</div>



