<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :name %>
<div id = "text">
<p>Write a couple of paragraphs about your goal.  Why is it important to you to complete this goal?  Why this goal and not another goal? What challenges have you faced in completing this goal or other goals?  This information will not be shared with other users.

   <p> <%= f.label :description %></p>
   <p><%= f.text_area :description, :class => "text_area" %></p>
    

   <p><%= f.label :completion_date %></p>
  <p><%= f.date_select :completion_date, {}, :class => "drop_down" %></p>
  
</div>
  
<div id = "text">
  <p>Now, write a brief, one or two sentence comment about how you're feeling as you make a commitment to yourself to accomplish your goal.</p>
  
  
   <p> <%= f.label :comment %></p>
   <p><%= f.text_field :comment %></p>

  <p>
  <%=f.select "category", @category.map{|g|"<option>#{g}</option>"}.join.html_safe, {}, :class => "drop_down"%>
  </p>
  
  
  
</div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
