<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :name %>
<div id = "text">
<p>Write a couple of paragraphs about your goal.  Why is it important to you to complete this goal?  Why this goal and not another goal? What challenges have you faced in completing this goal or other goals?  This information will not be shared with other users.
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :completion_date %><br />
    <%= f.date_select :completion_date %>
  </div>
</div>
  
<div id = "text">
  <p>Now, write a brief, one or two sentence comment about how you're feeling as you make a commitment to yourself to accomplish your goal.</p>
  
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  
  <div class= "dropdown">
  <%=f.select "category", @category.map{|g|"<option>#{g}</option>"}.join.html_safe%>
  </div>
</div>
  
<div id = "text">
  <p>Now, try to break your goal down into milestones, then steps.  It helps to break down your goal into smaller, more achievable pieces.</p>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
